cmake-build-*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE files
.idea

# build files
build

# tools
tools

# python
.venv
__pycache__
logs
test_framework_logs

# build configuration
conf.bash
conf.cmake
